.wrapper {
    position: relative;
    padding-top: 60px;
  }
  .logo {
    position: absolute;
    top: -110px;
    left: -20px;
    width: 50px;
    height: 50px; 
  }
  
  .logo img {
    max-width: 500%;
    max-height: 500%;
  }
  
  body {
    background: linear-gradient(to bottom, rgb(248, 250, 250), rgb(7, 118, 183));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .lgin {
    max-width: 400px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .lgin h1 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(29, 146, 224);
  }
  
  .lgin form {
    display: flex;
    flex-direction: column;
    color: #2582e7;
  }
  
  .lgin label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .lgin input[type="email"],
  .lgin input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #3097d3;
  }
  
  .lgin button.btn {
    padding: 10px 15px;
    background-color: #1e77e5;
    color: rgb(14, 106, 168);
    border: none;
    cursor: pointer;
  }
  
  .lginbutton.btn:hover {
    background-color: #042c45;
  }
  
  .lgin button.btn:focus {
    outline: none;
  }
    